body {
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: brown;
  background-color: lightblue;
  line-height: 1.5;
}

@media all and (min-width: 600px) {
  h2 {
    background-color: green;
  }
  
  ul {
    background-color: orange;
  }
}
