#contenedorForm {
  border: 1px solid black;
  padding: 15px;
}

.label-form {
  float: left;
  width: 120px;
  font-weight: 900;
}

.containerButton {
  text-align: center;
}

.button-submit {
  width: 120px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}

.button-submit:hover {
  color: black;
  background-color: paleturquoise;
  border: 1px solid black;
}